<nav class="navbar navbar-inverse justify-content-between home-nav ">
    <a class="navbar-brand">Recipe Book</a>
    <li class="dropdown  user-icon">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/user.png" width="30" height="30" alt="icon">
            
        </a>
        <span class="caret"></span>
        <ul class="dropdown-menu dropdown-menu-right" style="text-align:center">
            <li>
                <a >Settings</a>
            </li>
            <li>
                <a ng-click="redirectToLogout()">Log out</a>
            </li>
        </ul>
    </li>
</nav>
<div class="container-fluid dashboard-grid">
    <label for="file-upload" class="upload-document">
        <i class="fa fa-cloud-upload"></i> Upload Recipe
    </label>
    <input id="file-upload" type="file" file-model="myFile" accept=".xls,.xlsx,.csv,.json"/>

    <table st-table="displayedData" st-safe-src="smartTableData" class="table table-striped">
        <thead>
            <tr>
                <th colspan="5">
                    <input st-search="" class="form-control" placeholder="Global search ..." type="search" />
                </th>
            </tr>
            <tr class="sortable">
                <th st-sort="RecipeName" style="width: 35%">Recipe</th>
                <th st-sort="AttachmentName" style="width: 35%">File Name</th>
                <th style="width: 15%">Source File</th>
                <th style="width: 15%">Transformed File</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="row in displayedData">
                <td style="width: 35%">{{row.Name}}</td>
                <td style="width: 35%">{{row.Name}}</td>
                <td style="width: 15%">
                    <i class="fas fa-download download-icon" ng-click="downloadDocument(row.RecipeAttachmentId, false)">
                    </i>
                </td>
                <td style="width: 15%"> 
                    <i class="fas fa-download download-icon" ng-click="downloadDocument(row.RecipeAttachmentId, true)">
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="snackbar">{{serverMessage}}</div>
    <a id="download-row-content" ng-href="{{ fileUrl }}" download="{{fileName}}"></a>
</div>